.cart-product-image {
  max-width: 100%;
}

.img-container {
  max-width: 30%;
}

.product-info {
  width: 40%;
}

.cart-product {
  display: flex;
  flex-direction: row;
  margin: 25px 0;
  justify-content: center;
}

.product-dl {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.product-dl-div {
  display: flex;
}

.product-dt {
  margin-right: 5px;
}

.product-info {
  padding: 20px 0 0 20px;
}

.product-price {
  padding: 20px 20px 20px 0;
  font-weight: 500;
  width: 30%;
}
