.product-container {
  align-items: center;
  max-width: 1500px;
  height: 100%;
  display: flex;
  margin: 50px auto;
}

.product-img {
  max-width: 100%;
}

.product-left {
  max-width: 50%;
}

.product-right {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  padding-left: 50px;
}

.title {
  font-size: 35px;
  line-height: 47px;
  font-weight: 500;
}

.color {
  color: #5f5f5f;
  font-size: 23px;
  padding-bottom: 7px;
  font-weight: 500;
}

.price {
  font-weight: 500;
  font-size: 18px;
}

.form {
  margin: 70px 0px;
}

.form legend {
  font-size: 20px;
  font-weight: 400;
  padding: 20px 0px;
}

.sizes {
  display: flex;
  font-size: 17px;
  gap: 20px;
  align-items: center;
  width: 50%;
}

.swatch {
  border: 1px solid rgb(229, 229, 229);
  border-radius: 5px;
}

.clicked {
  border: 1px solid black;
  border-radius: 5px;
}

.sizes div span {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50px;
  padding: 13px 3px;
}

.description {
  margin: 40px 0px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  width: 67%;
}

.button {
  padding: 12px;
  width: 67%;
  background-color: #323232;
  border: none;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #5f5f5f;
}

.button span {
  font-size: 19px;
  font-weight: 400;
  color: white;
}
