.footer {
  background: #1e1e1e;
  color: white;
  margin-top: -120px;
  height: auto;
  width: 100%;
  position: sticky;
  padding: 40px 0px;
}

.footer-content-top {
  max-width: 30%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.top-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-menu-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 25px;
}

.top-menu ul {
  display: flex;
  flex-direction: row;
}
.top-menu li {
  margin-right: 20px;
  cursor: pointer;
  color: lightgray;
  margin-bottom: 25px;
}

.top-menu li:hover {
  color: aliceblue;
}

span a {
  margin-right: 10px;
  transition: 0.4s;
}

span a:hover {
  fill: white;
}

.footer-content-bottom {
  border-top: 1px solid #2e2e2e;
  padding: 40px 100px 0px;
  margin: 0 auto;
  text-align: center;
}
.payments svg {
  margin-right: 5px;
  vertical-align: middle;
}

.brand {
  font-size: 14px;
  color: #8e8e8e;
  margin-right: 50px;
}

.brand span {
  cursor: pointer;
}

.brand span:hover {
  color: aliceblue;
  transition: 0.3s;
}
