.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.15);
}

.modal {
  position: fixed;
  top: 0;
  right: auto;
  max-width: 470px;
  height: 100vh;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 9999;
  animation: slide-right 300ms ease-out forwards;
}

@media (min-width: 768px) {
  .modal {
    width: 500px;
    right: calc(16% - 20rem);
  }
}

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(2rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
